<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css"  media="all">
        <!-- <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <style>
            /*add custom style here*/
        </style>
    </head>
    <body>
        <div id="header" class="topBar">
            <div class="row">
                <div class="full-width">                    
                    <div id="menu" class="menu compact">
                        <div class="navicon">
                            <div class="navicon-line"></div>
                            <div class="navicon-line"></div>
                            <div class="navicon-line"></div>
                            <div class="navicon-text">Menu</div>
                        </div>
                        <div class="items">
                            <ul>
                                <li><a href="#history" id="btnHist" onclick="javascript:show(1, this)"><i class="fa fa-history"></i>History</a></li>
                                <li><a href="#library" id="btnLib" onclick="javascript:show(2, this)"><i class="fa fa-list"></i>Library</a></li>
                                <li id="mnuShowScheduleTimelineWidget"><a href="#schedule" id="btnSchedule" onclick="javascript:show(3, this)"><i class="fa fa-calendar"></i>Schedule</a></li>
                            </ul>
                        </div>
                    </div>                    
                    <div class="station-info compact">
                        <div class="spacial-widget-infoTrans-placeholder"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="now-playing" id="now-playing">
            <div class="now-playing-overlay"></div>
            <div class="row">
                <section class="info"></section>
                <section id="player-150" class="info spacial-player-widget">
                    <script src="http://samcloudmedia.spacial.com/webwidgets/player/v4/js/howler/howler.min.js"></script>
                    <div class="spacial-widget-player-placeholder" onload="onLoadHandler"></div>
                    <script>
                        function tdPlayerApiReady() {
                            document.tdPlayerReady = true;
                        }
                    </script>
                    <script data-dojo-config="async: 1, tlmSiblingOfDojo: 0, deps:['tdapi/run']" src="http://sdk.listenlive.co/web/2.9/td-sdk.min.js"></script>
                </section>
            </div>
        </div>
        <div class="page">
            <section id="main" class="row">
                <div class="wrapper">
                    <div class="content" id="content">
                        <section>
                            <div id="tabsPane" class="tabsPane">
                                <div id="tabs">
                                    <div id="tabs-1">
                                        <div class="title">Song History</div>
                                        <div class="spacial-widget-history-placeholder"></div>
                                    </div>
                                    <div id="tabs-2" class="hide">
                                        <div class="title">Browse Library</div>
                                        <div class="spacial-widget-library-placeholder"></div>
                                    </div>
                                    <div id="tabs-3" class="hide">                               
                                        <div class="title">Schedule</div>
                                        <div class="spacial-widget-showTimeline-placeholder"></div>                             
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <aside id="sidebar">
                    <div class="station-info">
                        <div class="info-panel">
                            <ul>
                                <li id="comingUp-li">
                                    <label>Coming up</label>
                                    <div class="spacial-widget-linupTile-placeholder" onempty="onQueueEmpty" onresultsfound="onResultsFound"></div>
                                </li>
                                <li id="dedication-li">
                                    <label>Now playing dedications</label>
                                    <div class="spacial-widget-dedication-placeholder" ondedicationstatus="onDedicationStatus"></div>
                                </li>                        
                            </ul>
                        </div>
                    </div>
                </aside>
            </section>
        </div>
        <div class="footer">
            <div class="row">
                <div class="copyrights">
                    <p>Powered by <a href="http://spacial.com/what-we-do-features/" target="_blank">SAM Broadcaster</a></p>
                    <p>© Copyright - Spacial Audio Solutions, LLC - 1999-2017</p>
                </div>

                <div class="share-box-container" >
                    <div class="share-box">
                        <ul>

                            <li>
                                <a id="social-facebook" target="_blank"  class="hide">
                                    <div class="share-facebook"></div>
                                </a>
                            </li>

                            <li>
                                <a id="social-twitter" target="_blank"   class="hide">
                                    <div class="share-twitter"></div>
                                </a>
                            </li>

                            <li>
                                <a id="social-google" target="_blank"   class="hide">
                                    <div class="share-google"></div>
                                </a>
                            </li>

                            <li>
                                <div id="social-email" class="hide">
                                    <div class="share-email"></div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>               
            </div>
        </div>
        <div class="overlay" id="loading-overlay">
            <div class="front"></div>

            <div class="page-loading">
                <div class="loading-logo"></div>
                <div class="loading-message">Loading. Please wait...</div>
            </div>

            <div id="validationForm" class="validationForm hide">
                <h2 style="color: red;">Error in configuration file</h2>
                <p>Please follow these steps to make sure your page setup is correct.</p>
                <ul>
                    <li>Make sure there is a json file called "config.json" in your config folder ("config/config.json")</li>
                    <li>Make sure it is a valid JSON file. (you can use <a href="http://jsonformatter.curiousconcept.com/" target="_blank">this</a> to validate your json file)</li>
                    <li>Make sure to fill in the "StationId" and "Token" fields which are required.</li>
                </ul>
                <div class="form">
                    <h4>Complete this form to generate a valid json file.</h4>                    
                    <p>Replace all content in <b>"config/config.json"</b> with generated text</p>
                    <table>
                        <tr>
                            <td>StationId<i style="color:red"  >*</i>: </td>
                            <td><input type="text" id="StationId"/></td>
                        </tr>
                        <tr>
                            <td>Token<i style="color:red">*</i>: </td>
                            <td><input type="text" id="Token"/></td>
                        </tr>
                        <tr>
                            <td>Menu Type</td>
                            <td>
                                <input type="radio" name="menuType" id="menuType-compact" value="compact" checked /><label for="menuType-compact"> Compact</label>
                                <input type="radio" name="menuType" id="menuType-classic" value="classic" /><label for="menuType-classic">Classic</label>
                            </td>
                        </tr>
                        <tr>
                            <td>Max library/history items: </td>
                            <td><input type="text" id="MaxItems" value="7"/></td>
                        </tr>
                        <tr>
                            <td>Max queue items: </td>
                            <td><input type="text" id="QueueItems"  value="10"/></td>
                        </tr>
                        <tr>
                            <td>Show Scheduled Timeline:</td>
                            <td><input type="checkbox" name="ShowScheduledTimeline" id="ShowScheduledTimeline"/></td>
                        </tr>
                        <tr>
                            <td>Timeline hours: </td>
                            <td><input type="text" id="TimelineHours"  value="8"/></td>
                        </tr>
                        <tr>
                            <td>Show Now playing dedications widget:</td>
                            <td><input type="checkbox" name="ShowDedicationsWidget" id="ShowDedicationsWidget"/></td>
                        </tr>
                        <tr>
                            <td>Theme type</td>                        
                            <td>
                                <input type="radio" name="widgetThemeType" id="widgetTheme-light" value="light" checked /><label for="widgetTheme-light">Light</label>
                                <input type="radio" name="widgetThemeType" id="widgetTheme-dark" value="dark" /> <label for="widgetTheme-dark">Dark</label>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="radio" name="widgetThemeType" id="widgetTheme-metallic" value="metallic" /><label for="widgetTheme-metallic">Metallic</label>
                                <input type="radio" name="widgetThemeType" id="widgetTheme-custom" value="custom" /><label for="widgetTheme-custom">Custom</label>
                            </td>
                        </tr>
                        <tr>
                            <td>Auto Start Player: </td>
                            <td>
                                <input type="radio" value="yes" name="rbStartPlayer" id="rbStartPlayerYes"><label for="rbStartPlayerYes">yes</label>
                                <input type="radio" value="no" name="rbStartPlayer" id="rbStartPlayerNo" checked><label for="rbStartPlayerNo">no</label>
                            </td>
                        </tr>
                        <tr>
                            <td>Facebook: </td>
                            <td><input type="text" id="Facebook"/></td>
                        </tr>
                        <tr>
                            <td>Twitter: </td>
                            <td><input type="text" id="Twitter"/></td>
                        </tr>
                        <tr>
                            <td>Google: </td>
                            <td><input type="text" id="Google"/></td>
                        </tr>
                        <tr>
                            <td>Email: </td>
                            <td><input type="text" id="Email"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" data-dojo-attach-point="buttonContainer">
                                <button onclick="_generateJson()">Generate</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <textarea  class="hide" readonly id="jsonFormatted"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/radio.page.js"></script>    
        <script>
            
            console.log($(".media-item-coverArt"));
        </script>    
    </body>
</html>
