
                                                <div class="row">
                                                    <div class="col col-2">
                                                        <div class="dw-sound">
                                                            <i class="fas fa-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-10">
                                                        <a href="#" class="play"
                                                            data-id="1"
                                                            data-album="Atento"
                                                            data-artist="Luppi"
                                                            data-title="Luppi"
                                                            data-albumart="/img/logo/luppi.jpg"
                                                            data-url="http://177.54.158.150:8000/airtime_128"></a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col col-2">
                                                        <div class="dw-sound" onclick="dw_audio(2)">
                                                            <i class="fas fa-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-10">
                                                         <a href="#" class="play"
                                                            data-id="2"
                                                            data-album=""
                                                            data-artist="Wiz Khalifa Ft Charlie Puth"
                                                            data-title="See You Again"
                                                            data-albumart="/podcasts/capa/ac_wallpaper__arno_by_ninja_of_athens-d7lw1su.jpg"
                                                            data-url="/podcasts/audio/01 What Do You Mean_.mp3" download></a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col col-2">
                                                        <div class="dw-sound" onclick="dw_audio(3)">
                                                            <i class="fas fa-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-10">
                                                        <a href="#" class="play"
                                                            data-id="3"
                                                            data-album="Fifty Shades of Grey"
                                                            data-artist="Ellie Goulding"
                                                            data-title="Love Me Like You Do"
                                                            data-albumart="http://cdnrf.securenetsystems.net/file_radio/album_art/B/1/5/51B2BHP42pDL.jpg"
                                                            data-url="http://dl.best-music.biz/Music/Top%20Hits/Best%20Hits%20of%20Jan%202015/Best%20Hits%20of%20Jan%202015%20%5bInternational%20Hits%5d/11-%20Ellie%20Goulding%20-%20Love%20Me%20Like%20You%20Do.mp3"></a>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col col-2">
                                                        <div class="dw-sound" onclick="dw_audio(4)">
                                                            <i class="fas fa-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-10">
                                                        <a href="#" class="play"
                                                            data-id="4"
                                                            data-album="All I Ever Wanted"
                                                            data-artist="Kelly Clarkson"
                                                            data-title="Already Gone"
                                                            data-albumart="https://3.bp.blogspot.com/_mupIVJbjvuU/TKgPuOEekII/AAAAAAAAHd4/HGTyRWuhw2c/s1600/Made+by+In+For+The+Kill.png"
                                                            data-url="http://api.ning.com/files/26eL9oYmcbCURdC4HsmG0ZWw*YLSXgaDBvm5MIxi0gagrr1IPK7OQmHatTYLnx4qqc9BLhStzHfS2WhuNve*pjtmcCiBjZ4p/06AlreadyGone.mp3"></a>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col col-2">
                                                        <div class="dw-sound" onclick="dw_audio(5)">
                                                            <i class="fas fa-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-10">
                                                        <a href="#" class="play"
                                                            data-id="5"
                                                            data-album="Pure Bs"
                                                            data-artist="Blake Shelton"
                                                            data-title="Home"
                                                            data-albumart="http://img.cdn2.wmgecom.com/media/catalog/product/cache/684/image/600x/9df78eab33525d08d6e5fb8d27136e95/0/9/093624986256.jpg"
                                                            data-url="http://apps.rockyou.com/music/0/0/4/485.mp3"></a>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col col-2">
                                                        <div class="dw-sound" onclick="dw_audio(6)">
                                                            <i class="fas fa-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-10">
                                                        <a href="#" class="play"
                                                            data-id="6"
                                                            data-album="The Unforgiving"
                                                            data-artist="Within Tempation"
                                                            data-title="Faster"
                                                            data-albumart="http://www.aceshowbiz.com/images/news/00038227.jpg"
                                                            data-url="https://a.tumblr.com/tumblr_lli3gani2F1qetbfso1_r1.mp3"></a>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col col-2">
                                                        <div class="dw-sound" onclick="dw_audio(7)">
                                                            <i class="fas fa-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-10">
                                                        <a href="#" class="play"
                                                            data-id="7"
                                                            data-album="Californication"
                                                            data-artist="Red Hot Chili Peppers"
                                                            data-title="Californication"
                                                            data-albumart="https://eyespytz.files.wordpress.com/2011/11/6837-gif.jpeg"
                                                            data-url="http://apps.rockyou.com/music/0/0/4/485.mp3"></a>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col col-2">
                                                        <div class="dw-sound" onclick="dw_audio(8)">
                                                            <i class="fas fa-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-10">
                                                        <a href="#" class="play"
                                                            data-id="8"
                                                            data-album="V"
                                                            data-artist="Maroon 5"
                                                            data-title="Sugar"
                                                            data-albumart="http://media.fanfire.com/images/product/large/MAR/MAR61934.jpg"
                                                            data-url="http://apps.rockyou.com/music/0/0/4/485.mp3"></a>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col col-2">
                                                        <div class="dw-sound" onclick="dw_audio(9)">
                                                            <i class="fas fa-download"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-10">
                                                        <a href="#" class="play"
                                                            data-id="9"
                                                            data-album="Meteora"
                                                            data-artist="Linkin Park"
                                                            data-title="Numb"
                                                            data-albumart="https://upload.wikimedia.org/wikipedia/en/6/64/MeteoraLP.jpg"
                                                            data-url="http://serveurftpnascar.free.fr/%20-%20Linkin%20Park%20-%20Numb.mp3"></a> 
                                                    </div>
                                                </div>