/* body {
     margin: 0;
     padding: 0;
     background: url('../img/capa.jpg');
     background-size: 1440px 800px;
     background-repeat:no-repeat;
    display: compact;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}  */

body { 
	background: url('../img/exemplos/img8.jpg') no-repeat center center fixed;
	background-size: cover;
}

.row #main{
	width: 100%;
}

/* .centralizar {
  	margin: 20%;
} */

.font-atento {
	font-family: 'Gloria Hallelujah', cursive;
	color: #B7BF10;
}

.comente {
	padding-top: 25%;
	/* padding:10% 10% 10% 10%; */
}

.comente-corpo {
	background-color: rgba(255,255,255,.8);
	-webkit-border-radius: 8px/7px; 
	-moz-border-radius: 8px/7px; 
	border-radius: 8px/7px; 

	padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#scroll {
  /* width:660px; */
  height:100%;
  max-height: 600px;
  overflow-y:scroll;
  /* padding-bottom:100px; */
}


.chat-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}
.chats {
  padding: 30px 15px;
}
.chat-body {
  display: block;
  margin: 0;
  overflow: hidden;
}
.chat-content {
  position: relative;
  display: block;
  float: left;
  padding: 15px 20px;
  margin: 0 0 30px 20px;
  clear: both;
  color: #fff;
  background-color: #FB8C00;
  border-radius: 4px;
}
.chat-content:before {
  position: absolute;
  top: 0;
  left: -10px;
  width: 0;
  height: 0;
  content: '';
  border: 10px solid transparent;
  border-top-color: #FB8C00;
}
.chat-content > p:last-child {
  margin-bottom: 0;
}
.chat-right .chat-content {
  float: right;
  margin: 0 20px 30px 0;
  color: #757575;
  background-color: #dfdfdf;
}
.chat-right .chat-content:before {
  right: -10px;
  left: auto;
  border-top-color: #dfdfdf;
}

