
<!-- Forms Validations Plugin -->
<script src="/js/core/jquery.validate.min.js"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="/js/plugins/moment.min.js"></script>
<!--  Charts Plugin -->
<script src="/js/plugins/chartist.min.js"></script>
<!--  Plugin for the Wizard -->
<script src="/js/plugins/jquery.bootstrap-wizard.js"></script>
<!--  Notifications Plugin    -->
<script src="/js/plugins/bootstrap-notify.js"></script>
<!-- DateTimePicker Plugin -->
<script src="/js/plugins/bootstrap-datetimepicker.js"></script>
<!-- Vector Map plugin -->
<script src="/js/plugins/jquery-jvectormap.js"></script>
<!-- Sliders Plugin -->
<script src="/js/plugins/nouislider.min.js"></script>
<!--  Google Maps Plugin    -->
<!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
<!-- Select Plugin -->
<script src="/js/plugins/jquery.select-bootstrap.js"></script>
<!--  DataTables.net Plugin    -->
<script src="/js/plugins/jquery.datatables.js"></script>
<!-- Sweet Alert 2 plugin -->
<script src="/js/plugins/sweetalert2.min.js"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="/js/plugins/jasny-bootstrap.min.js"></script>
<!--  Full Calendar Plugin    -->
<script src="/js/plugins/fullcalendar.min.js"></script>
